.textFlow {
	-fx-background-color: #FFFFFF;
}

.textSystemMessage {
	-fx-background-color: red;
}

.textBroadcastMessage {
	-fx-background-color: green;
}

.textPrivateMessage {
	-fx-background-color: blue;
}
